<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form4</title>
</head>
<body>
    <center>
        <h1><ul>STUDENT MARKSHEET</ul></h1>
        <fieldset>
            <legend>STUDENT INFORMATION & SUBJECT MARKS</legend>
            Name: <input type="text" value="<%= data.name %>"><br>
            Father's Name: <input type="text" value="<%= data.fname %>"><br>
            Institute Name: <input type="text" value="<%= data.iname %>"><br>
            Batch: <input type="text" value="<%= data.batch %>"><br>
            Web Designing: <input type="text" value="<%= data.wd %>"><br>
            IT: <input type="text" value="<%= data.it %>"><br>
            C# programming: <input type="text" value="<%= data.cp %>">
        </fieldset>
    </center>
</body>
</html>
